<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How it works?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Social Catalyst</h3>
                    <p class="text-muted">Mostly we understand Innovation as the
                    next Toy, the next Gadget we can buy. We almost never think
                    of social Innovation, change the way we get to know each
                    other, change the way we can introduce ourselves to each
                    other based on Resonance and Synchronicity (right now, right
                    where you are) basically imagine you could have an
                    interesting communication basis, with the people right now
                    around you? </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3> Sharing Community</h3>
                    <p class="text-muted">Share something what really matters to
                    people around you, something that would have enriched their lives.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Decentralized</h3>
                    <p class="text-muted">Higher level of trust, no dependence
                    on centralize server, no giving away your data.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Digital Detox</h3>
                    <p class="text-muted">No information overload, no time
                    wasted.</p>
                </div>
            </div>
        </div>
    </div>
</section>
