<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
              Do you have the feeling that something is missing in social media?
            </h1>
            <hr>
            <h3>
              Cling is a social environment within you can experience meaningful
              and purposeful conversation right now, right here. No spam. No
              groups. No added Friends. No social pressure! No giving away your
              data to anyone!
            </h3>
            <a href="#features" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
