<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
              Something is missing in social media. If you share the same feeling, welcome to Cling...
            </h1>
            <hr>
            <h3>
              Experience purposeful synchronicity, with related individuals around you is the mindset of cling.offline, not online. 
              Cling offers the best reason to start talking to each other, a meaningful 
              hook for the clinging individuals. No spam. No groups. Neither added Friends nor Followers. No social pressure. Not uploading your data!
            </h3>
            <a href="#features" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
