<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Did you had ever a feeling that there is something missing in
              social networks?
            </h1>
            <hr>
            <p>
              Cling is a social environment within you can experience meaningful
              and purposeful conversation right now, right here. No spam. No
              groups. No added Friends. No social pressure! No giving away your
              data to anyone!
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
